<%= form_tag(secret_codes_path, method: "post", remote: true) do %>
    <div class="field">
      <%= label_tag(:no_of_code, "No of codes") %>
      <div class="check"><%= select_tag "no_of_codes", options_for_select(@count,10)%></div>
    </div>
    <div class="actions">
      <%= submit_tag("Generate codes", :class => "text btn btn-primary") %>
    </div>
<% end %>