<h3>Permissions</h3>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Title</th>
    <th>Action</th>
    <th>Subject</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @role.permissions.each do |permission| %>
    <tr>
      <td><%= permission.title %></td>
      <td><%= permission.action %></td>
      <td><%= permission.subject %></td>
      <td><%= link_to 'Remove', revoke_permission_roles_path(:role_id => @role.id, :permission_id => permission.id), :data => {confirm: 'Are you sure?'}, method: :delete, :class => 'btn btn-danger' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
