<div id="unit-form" class="clearfix container-fluid centered-card" >
<h1> EDITING details of USER</h1>
 <%= render "formedit" %>
  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', user_path %>
</div>

